# Core settings
GOOGLE_ANALYTICS_MCP_BASE_URL=http://127.0.0.1:8080
GOOGLE_ANALYTICS_MCP_AUTH_PROVIDER=remote   # change to "google" to switch provider
GOOGLE_ANALYTICS_MCP_AUTH_SERVER_URL=https://auth.example.com

# Auth storage settings
GOOGLE_ANALYTICS_MCP_AUTH_STORAGE_TYPE=in-memory
GOOGLE_ANALYTICS_MCP_AUTH_STORAGE_REDIS_URL=redis://localhost:6379/0
GOOGLE_ANALYTICS_MCP_AUTH_STORAGE_ENCRYPTION_KEY=change-me
GOOGLE_ANALYTICS_MCP_AUTH_STORAGE_DISK_DIRECTORY=

# Token verifier settings
GOOGLE_ANALYTICS_MCP_AUTH_TOKEN_VERIFIER_URL=https://www.googleapis.com/oauth2/v1/tokeninfo
GOOGLE_ANALYTICS_MCP_AUTH_TOKEN_VERIFIER_AUTH=bearer
GOOGLE_ANALYTICS_MCP_AUTH_TOKEN_VERIFIER_METHOD=GET
GOOGLE_ANALYTICS_MCP_AUTH_TOKEN_VERIFIER_CONTENT_TYPE=application/json
GOOGLE_ANALYTICS_MCP_AUTH_TOKEN_VERIFIER_BEARER_TOKEN=change-me
GOOGLE_ANALYTICS_MCP_AUTH_TOKEN_VERIFIER_BASIC_AUTH_USERNAME=
GOOGLE_ANALYTICS_MCP_AUTH_TOKEN_VERIFIER_BASIC_AUTH_PASSWORD=

# OAuth settings
GOOGLE_ANALYTICS_MCP_OAUTH_CLIENT_ID=your-client-id
GOOGLE_ANALYTICS_MCP_OAUTH_CLIENT_SECRET=your-client-secret
GOOGLE_ANALYTICS_MCP_OAUTH_EXTRA_AUTHORIZE_PARAMS={"prompt":"consent"}
GOOGLE_ANALYTICS_MCP_OAUTH_REQUIRE_AUTHORIZATION_CONSENT=external
GOOGLE_ANALYTICS_MCP_OAUTH_JWT_SIGNING_KEY=your-jwt-signing-key

# JWT provider settings
GOOGLE_ANALYTICS_MCP_AUTH_JWT_PROVIDER_PRIVATE_KEYS='[{"crv":"Ed25519","x":"T6ZPKQjP...","d":"wmzEQl1O9O...","kty":"OKP","kid":"ZvYNY4C..."}]'
GOOGLE_ANALYTICS_MCP_AUTH_JWT_PROVIDER_ALGORITHM="Ed25519"
GOOGLE_ANALYTICS_MCP_AUTH_JWT_PROVIDER_TOKEN_LIFETIME=00:01:00
GOOGLE_ANALYTICS_MCP_AUTH_JWT_PROVIDER_CLAIMS={"iss":"example","aud":"google_analytics_mcp"}
